<!-- Loads the path to the static files-->
{% extends 'acrrmlogbook/base.html' %}
{% block label %}Patient Names{% endblock %}

{% block body %}
<div class="container">




<h3>Patient List</h3>
 <div class="row">
    <div class="col-sm">
        <ul>
        {% for main in all_patients %}

            <li><a href="#">{{ main.name }} - {{ main.date_of_birth }}</a>

                    <a href="{% url 'acrrmlogbook:detail' main.id %}" role="button" class="btn btn-primary btn-xs">View</a>
                    <a href="{% url 'acrrmlogbook:main-update' main.id %}" role="button" class="btn btn-primary btn-xs">Edit</a>
                    <form action="{% url 'acrrmlogbook:main-delete' main.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ main.id }}"/>
                        <button type="submit" class="btn  btn-primary btn-xs"/>

                        <span class="glyphicon glyphicon-trash"></span>

                    </form>


            </li>


        {% endfor %}
        </ul>
    </div>
 </div>
{% endblock %}

