<!-- Loads the path to the static files-->
{% extends 'clinicalviewer/base.html' %}
{% block label %}New Patient{% endblock %}
{% load static %}



{% block body %}
{% include 'clinicalviewer/pt_sidebar.html' %}

<div class="container-fluid">
<h1 class="form-group">{{ users.first_name}} {{ users.last_name}}</h1>
<h3 class="form-group">{{ users.date_of_birth }}</h3>


   <div class="row">
        <div class="col-sm-10">
            <form name="myform" novalidate class="form-horizonal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {% include 'clinicalviewer/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-sm-2">
            <table >
                    <tr>
                        <th>Encounter Date</th>
                        <th>Encounter Reason</th>
                    </tr>
                    {% for encounter in encounter_set.all %}
                    <tr>
                        <td><a href="{% url 'clinicalviewer:encounter-detail' encounter.id %}">{{ encounter.encounter_date }}</a></td>
                        <td>{{ encounter.encounter_label }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
   </div>
{% endblock %}

{% block footer %}

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

{% endblock %}