<!-- Loads the path to the static files-->
{% extends 'clinicalviewer/base.html' %}
{% block label %}Patient Names{% endblock %}


{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
<h3>Patient List</h3>
 <div class="row">
    <div class="col-sm">
        <table class="tablepadding">
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Actions</th>
            </tr>
            {% for users in object_list %}
                <tr>
                    <td><a href="{% url 'clinicalviewer:patient-detail' users.id %}">{{users.first_name}} {{users.last_name}}</a></td>
                    <td> {{ users.date_of_birth }} </td>
                    <td><a href="{% url 'clinicalviewer:visit-form' users.id %}"  role="button" class="btn btn-primary btn-xs">New Consult</a></td>
                    <td><a href="#" role="button" class="btn btn-primary btn-xs">New Procedure</a></td>
                    <td><a href="{% url 'clinicalviewer:patient-detail' users.id %}" role="button" class="btn btn-primary btn-xs">Visit List</a></td>
                    <td><a href="{% url 'clinicalviewer:patient-update' users.id %}" role="button" class="btn btn-primary btn-xs">Edit Details</a></td>
                    <td><form action="{% url 'clinicalviewer:patient-delete' users.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ users.id }}"/>
                        <button type="submit" class="btn  btn-primary btn-xs"/>
                        <span class="glyphicon glyphicon-trash"></span>
                    </form></td>
                </tr>
            {% empty %}
                <li>No patients yet.</li>
            {% endfor %}
        </table>
    </div>
 </div>
{% endblock %}

