<!-- Loads the path to the static files-->
{% extends 'clinicalviewer/base.html' %}

{% block label %}New Patient{% endblock %}

{% block body %}


<div class="container" style="padding-top: 40px">

  <div class="row justify-content-start">

    <div class="col">
      <form class="form-horizonal" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'clinicalviewer/form-template.html' %}
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </div>
      </form>
    </div>

  </div>
</div>








</div>
{% endblock %}


