{% extends 'clinicalviewer/base.html' %}
{% block label %}Patient Visits{% endblock %}


{% block body %}

{% include 'clinicalviewer/pt_sidebar.html' %}

<center>
<h1>{{ profile.firstname}} {{ profile.lastname}}</h1>
<h3>{{ profile.date_of_birth }}</h3>
<button type="button">New Visit</button>

</center>
    <center>
<div class="row">
    <div class="col-sm">
        <ul>
        {% for visit in object.visit_set.all %}
            <li><a href="{{ visit.get_absolute_url }}">{{ visit.visit_date }} - {{ visit.visit_label }}</a>
                    <a href="#" role="button" class="btn btn-primary btn-xs">Edit</a>
                    <form action="{% url 'clinicalviewer:visit-delete' visit.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ visit.id }}"/>
                        <button type="submit" class="btn  btn-primary btn-xs"/>
                        <span class="glyphicon glyphicon-trash"></span>
                    </form>
            </li>
        {% endfor %}
        </ul>
    </div>
 </div>
</center>

{% endblock %}

















